* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #854d0e; */
  background-color: #713f12;
}

h1 {
  background-color: #422006;
  color: #fef9c3;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
