:root {
  --font-color-main: #fefce8;
  --dark-brown-back: #422006;
}
* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #854d0e; */
  background-color: #713f12;
}

h1 {
  background-color: var(--dark-brown-back);
  color: #fef9c3;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;

  font-family: 'Vina Sans', cursive;
  letter-spacing: 5px;
}

/* form */
.addBook {
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  border: none;
  color: var(--font-color-main);
  font-family: inherit;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: filter 0.15s ease-in-out;
  font-size: 24px;
  font-weight: 600;
  background-color: #713f12;
}
form {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
}
.fieldset {
  color: var(--font-color-main);
}
.hide {
  display: none;
}

/* newer form */
#book-add-form {
  font-family: 'Open Sans', sans-serif;
  width: 400px;
  min-width: 250px;
  margin: 20px auto;
  position: relative;
  border: 2px solid red;
  border-radius: 5px;
}

#book-add-form .fieldset {
  border-radius: 3px;
}

#book-add-form legend {
  text-align: center;
  background: var(--dark-brown-back);
  width: 100%;
  padding: 30px 0;
  border-radius: 3px 3px 0 0;
  color: white;
  font-size: 1.4em;
}

#book-add-form input[type='text'],
input[type='tel'],
input[type='submit'] {
  padding: 15px 20px;
  border-radius: 1px;
  margin: 5px auto;
  background-color: #f7f7f7;
  border: 1px solid silver;
  width: 100%;

  box-sizing: border-box;
}

#checkboxSpecial {
  display: flex;
  flex-direction: start;
}
input[type='checkbox'] {
  margin-left: 10px;
  padding-left: 10px;
}
